.logo img{
    transform: matrix(0.7, 0, 0, 0.7, 0, 0);
    height: 100px;
}


.me-image{
    height: 70vh;
    width: auto;
    padding-top: 10vh;
}


.imagine-despre{
    width: 22.4vw;
}